:root {
  --sceneRotate: -25;
}

body {
  background-color: #000;
  height: 0vh;
  display: flex;
  overflow:hidden;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  perspective: 5em;
  perspective-origin: 50% 15%;
}

.form-group {
  position: fixed;
  top: 10%;
}

.scene, #ground, #hoverCraft{
  position: relative;
  transform-style: preserve-3d;
}

.scene{
  transform: rotateY( var(--sceneRotate));
  top: 
}

.sidePanel  {
  position: absolute;
  width: 1em;
  height: .2em;
  
}

#sidePanel1 {
    transform: translateX(-0.68em) translateY(15em) translateZ(3em) rotateX(-5deg) rotateY(-110deg) /*rotateZ(-15deg)*/; 
}

#sidePanel2 {
  /* transform: translateZ(3em); */
  transform: translateX(-.32em) translateY(5em) translateZ(3em) rotateX(-5deg) rotateY(110deg) /*rotateZ(-10deg)*/; 
}











/***********    GLOW COLORS  *************/
.pinkGlowCut {
  /* border-collapse: collapse;
  border: 1px solid #FCCF; 
  box-shadow: 0 0 15px #F33C; */
  /* background: rgba(255, 255, 255, .1);
  color: rgba(0, 0, 0, .1); */
  /* opacity: 1; */
  border-collapse: collapse;
  -webkit-filter: 
        drop-shadow(-4px -4px 0 #FCCF)
        drop-shadow(4px 4px 0 #FCCF)
        drop-shadow( 0 0 15px #F33C);
  filter: 
        drop-shadow(-4px -4px 0 #FCCF)
        drop-shadow(4px 4px 0 #FCCF)
        drop-shadow( 0 0 15px #F33C);

}

.pinkGlow {
border-collapse: collapse;
  border: 1px solid #FCCF; 
  box-shadow: 0 0 15px #F33C;
}






/***********   GROUND STUFF   **********/

.floor  {
  position: absolute;
  left: -100em;
/*   width: 30em;
  height: 2em; */
  margin: 0px;
  padding: 0px;
  
}

#floor1 {
/*   display: none; */
  animation-name: floor1move;
  animation-duration: 9s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#floor2 {
/*   display: none; */
  animation-name: floor2move;
  animation-duration: 9s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#floor3 {
/*   display: none; */
  animation-name: floor3move;
  animation-duration: 9s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}





table {
  border-collapse: collapse;
/*   border-spacing: 0px; */
  width: 200em;
  height: 200em;
}

.horLine  {
  margin: 10px;
  padding: 10px;
  /* box-shadow: 0 0 .75em #8F8F; */
}

.vertLine {
  width: 2em;
  height: 2em;
  border-left: 3px solid #0D0F; 
  border-top: 3px solid #0D0F; 
  box-shadow: 0 0 1em #8F8F;
/*   border-bottom: 0px solid green; */
/*   border-right: 0px; */
  margin: 0px;
  padding: 0px;
}

.lastElementBorder  {
  border-right: 3px solid #0D0C;
}

/* ***********GROUND ANIMATION****************** */
@keyframes floor1move {
  0%   {transform: rotateX(90deg) translateY(0%);}
  33.332% {transform: rotateX(90deg) translateY(100%); }
  33.333%   {transform: rotateX(90deg) translateY(-200%); }
  100% {transform: rotateX(90deg) translateY(0%); }
}

@keyframes floor2move {
  0%   {transform: rotateX(90deg) translateY(-100%)}
  66.666% {transform: rotateX(90deg) translateY(100%)}
  66.667%   {transform: rotateX(90deg) translateY(-200%)}
  100% {transform: rotateX(90deg) translateY(-100%)}
}

@keyframes floor3move {
  0%   {transform: rotateX(90deg) translateY(-200%)}
  100% {transform: rotateX(90deg) translateY(100%)}
}


/* ***********ENABLE BELOW TO STOP GROUND ANIMATIONS****************** */
@keyframes floor1move {
  0%   {transform: rotateX(90deg) translateY(0%);}
  100%   {transform: rotateX(90deg) translateY(0%);}

}

@keyframes floor2move {
  0%   {transform: rotateX(90deg) translateY(-100%)}
  100%   {transform: rotateX(90deg) translateY(-100%)}

}

@keyframes floor3move {
  0%   {transform: rotateX(90deg) translateY(-200%)}
  100% {transform: rotateX(90deg) translateY(-200%)}
}