:root {
  --sceneRotate: 0;
  --sceneLeftRight: 0;
  --sceneDistance: -37em;
  --tireRotationRate: 1s;
  --floorRate: 5s;
  --extraGlowRate: 2s;
  --playerLeftRight: 0em;
}

body {
  background-color: #000;
  height: 100vh;
  /* width: 1080px; */
  display: flex;
  overflow:hidden;
  /* justify-content: center; */
  /* align-items: center; */
  font-size: 2.5em;
  perspective: 17em;
  perspective-origin: 50% 55%;
  /* position: fixed; */
}

.form-group {
  position: fixed;
  font-size: .5em;
  width: 5%;
  color: gray;
  top: 5%;
  margin-left: 3%;
  z-index: 2;
}
#cameraControls{
  /* display: none; */
}
#controls {
/* display: none; */
}

#leftRSlid { margin-left: 10%; }
#playerleftRSlid {  right: 10%; }
#distSlid { left: 20% }

.scene, #ground, #cyberCraft, #palmTree {
  position: relative;
  transform-style: preserve-3d;
}

 .shape, .face, .face-wrapper, .cr {
  position: absolute;
  transform-style: preserve-3d;
}

.scene{
  transform: translateX( var(--sceneLeftRight) ) translateZ( var(--sceneDistance)) rotateY( var(--sceneRotate)) ;
  /* transform: ); */
  /* top: 5%; */
}

#cyberCraft {
  transform: translateZ(30em) translateY(51.8em) translateX( calc(30.35em + var(--playerLeftRight)) );
  font-size: .5em;
}

#palmTree {
  transform:  translateZ(-0em) translateY(45em) translateX( calc(-55em)) rotateY(45deg);
  font-size: .5em;
}











/***********    NON-FLOOR GLOW COLORS  *************/
/* .pinkGlowCut {
  border-collapse: collapse;
  -webkit-filter: 
        drop-shadow(-4px -4px 0 #FCCF)
        drop-shadow(4px 4px 0 #FCCF)
        drop-shadow( 0 0 15px #F33C);
  filter: 
        drop-shadow(-4px -4px 0 #FCCF)
        drop-shadow(4px 4px 0 #FCCF)
        drop-shadow( 0 0 15px #F33C);
} */

#cyberCraft .face {
  /* border-collapse: collapse; */
  /* border: 2px solid #FCCF;
  box-shadow: 0 0 30px #F33C; */
  /* border: 2px solid #FCCF;
  box-shadow: 0 0 30px #F33C; */
   border: 2px solid #FCCF;
  /* border: 2px solid #CDFE; 
  box-shadow: 0 0 30px #38FF; */
}

#cyberCraft .playerColor {
  /* border-collapse: collapse; */
  box-shadow: 0 0 30px #F33C;
}

#palmTree [class*="tree-cyl-"] .face{
   border: 2px solid #FFDF;
   box-shadow: 0 0 45px #FAFF0FFF
}

#palmTree .leafColor {
  border: 2px solid #AFAF;
  box-shadow: 0 0 45px #9F0F;
}








/***********   GROUND STUFF   **********/

.floor  {
  position: absolute;
  left: -30em;
/*   width: 30em;
  height: 2em; */
  margin: 0px;
  padding: 0px;
  
}

#floorExtraGlow {
  /* display: none; */
  opacity: .8;
  animation-name: glowFloorMove;
  animation-duration:  var(--extraGlowRate) ;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}


#floor1 {
  /* display: none; */
  animation-name: floor1move;
  animation-duration: var(--floorRate);
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#floor2 {
  /* display: none; */
  animation-name: floor2move;
  animation-duration: var(--floorRate);
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#floor3 {
  /* display: none; */
  animation-name: floor3move;
  animation-duration: var(--floorRate);
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#floor4 {
  /* display: none; */
  animation-name: floor4move;
  animation-duration: var(--floorRate);
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#floor5 {
  /* display: none; */
  animation-name: floor5move;
  animation-duration: var(--floorRate);
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

/* #floor1, #floor2, #floor3, #floor4, #floor5 {
  display: none;
} */



table {
  border-collapse: collapse;
  background-color: #0FCC0F1A;
  width: 100em;
  height: 55em;
}

.horLine  {
  margin: 10px;
  padding: 10px;
  /* box-shadow: 0 0 .75em #8F8F; */
}



th {
  width: 2em;
  height: 2em;
  border-left: 3px solid #0D0F; 
  border-top: 3px solid #0D0F; 
  /* box-shadow: 0 0 1em #8F8F; */
  margin: 0px;
  padding: 0px;
}

.vertLine {
  box-shadow: 0 0 1em #8F8F;
}

.vertLineExtraGlow {
  box-shadow: 0 0 3em #9f4F;
}

.lastElementBorder  {
  border-right: 3px solid #0D0C;
}

/************      GROUND ANIMATION     *******************/
@keyframes floor1move {
  0%   {transform: rotateX(90deg) translateY(0%);}
  19.999% {transform: rotateX(90deg) translateY(100%); }
  20%   {transform: rotateX(90deg) translateY(-400%); }
  100% {transform: rotateX(90deg) translateY(0%); }
}

@keyframes floor2move {
  0%   {transform: rotateX(90deg) translateY(-100%)}
  39.999% {transform: rotateX(90deg) translateY(100%)}
  40%   {transform: rotateX(90deg) translateY(-400%)}
  100% {transform: rotateX(90deg) translateY(-100%)}
}

@keyframes floor3move {
  0%   {transform: rotateX(90deg) translateY(-200%)}
  59.999% {transform: rotateX(90deg) translateY(100%)}
  60%   {transform: rotateX(90deg) translateY(-400%)}
  100%   {transform: rotateX(90deg) translateY(-200%)}
}

@keyframes floor4move {
  0%   {transform: rotateX(90deg) translateY(-300%)}
  79.999%   {transform: rotateX(90deg) translateY(100%)}
  80%   {transform: rotateX(90deg) translateY(-400%)}
  100%   {transform: rotateX(90deg) translateY(-300%)}
}

@keyframes floor5move {
  0%   {transform: rotateX(90deg) translateY(-400%)}
  100%   {transform: rotateX(90deg) translateY(100%)}
}

@keyframes glowFloorMove {
  0%   {transform: rotateX(90deg) translateY(-400%); opacity: 1}
  25%   {transform: rotateX(90deg) translateY(105%); opacity: 1}
  25.001% {opacity: 0}
  100% {opacity: 0}
}

/* #floorExtraGlow {
  display: none;
} */

/* ***********ENABLE BELOW TO STOP GROUND ANIMATIONS****************** */
/* @keyframes floor1move {
  0%   {transform: rotateX(90deg) translateY(0%);}
  100%   {transform: rotateX(90deg) translateY(0%);}

}
@keyframes floor2move {
  0%   {transform: rotateX(90deg) translateY(-100%)}
  100%   {transform: rotateX(90deg) translateY(-100%)}

}
@keyframes floor3move {
  0%   {transform: rotateX(90deg) translateY(-200%)}
  100% {transform: rotateX(90deg) translateY(-200%)}
}

@keyframes floor4move {
  0%   {transform: rotateX(90deg) translateY(-300%)}
  100% {transform: rotateX(90deg) translateY(-300%)}
}

@keyframes floor5move {
  0%   {transform: rotateX(90deg) translateY(-400%)}
  100% {transform: rotateX(90deg) translateY(-400%)}
} */







/****************************     CyberCar     ************************************/

/* /!\ You need to add vendor prefixes in order to render the CSS properly (or simply use http://leaverou.github.io/prefixfree/) /!\ */  


          /************* TIRE ROTATE ANIMATIONS **************/
 .cyl-2 .face, .cyl-2 .side, 
.cyl-3 .face, .cyl-3 .side, .cyl-4 .face, .cyl-4 .side, 
.cyl-5 .face, .cyl-5 .side  {/**** tires ****/
  background-color:#000A;
}

.tp, .bm, .face{
background-color:#fff;
/* display: none; */
}

.cyl-1 .face, .cyl-1 .side, .cyl-9 .face, .cyl-9 .side, .cyl-10 .face, .cyl-10 .side, .cyl-11 .face, .cyl-11 .side { /**** tire rims ****/
 background-color:#000
}

.pri-1 .face {/**** front wing ****/
  background-color:#912D;
  /* background-color:#214D; */
}

.cub-1 .face { /**** chassis ****/
  background-color:#111;
}

.cub-2 .face { /**** sidepods/body ****/
  background-color:#C35C;
  /* background-color:#DD721FAA; */
  /* background-color:#55FC; */
}

.cyl-6 .face, .cyl-6 .side, .cyl-7 .face, .cyl-7 .side { /**** axles ****/
  background-color:#FFFB;
}
.cub-3 .face { /**** rear wing platform ****/
  background-color:#666C;
}

.cub-4 .face, .cub-5 .face { /**** rear wing uprights ****/
  background-color:#FFF9;
}

.pri-2 .face { /**** rear wing ****/
  background-color:#512D;
  /* background-color:#214D; */
}
.pri-3 .face { /**** engine housing ****/
  background-color:#FFFB;
}
.cyl-8 .face, .cyl-8 .side { /**** steering wheel ****/
  background-color:#FFF1;
}

 /******* enable for pure wireframe mode ********/
[class*="cyl"] .face, [class*="cub"] .face, [class*="pri"] .face{
  background-color: #F455;
}


              /************* TIRE ROTATE ANIMATIONS **************/
.tireFrontLeft {
/*   display: none; */
  animation-name: tireSpinFrontLeft;
  animation-duration: var(--tireRotationRate);
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.tireBackLeft {
/*   display: none; */
  animation-name: tireSpinBackLeft;
  animation-duration: var(--tireRotationRate);
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.tireFrontRight {
/*   display: none; */
  animation-name: tireSpinFrontRight;
  animation-duration: var(--tireRotationRate);
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.tireBackRight {
/*   display: none; */
  animation-name: tireSpinBackRight;
  animation-duration: var(--tireRotationRate);
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}


@keyframes tireSpinFrontLeft {
  from{transform:  translate3D(1.5em, 0.5em, 0em) rotateZ(90deg) rotateY(0deg)  }
  to {transform:  translate3D(1.5em, 0.5em, 0em) rotateZ(90deg) rotateY(-360deg)  }
}

@keyframes tireSpinBackLeft {
  from{transform:  translate3D(1.5em, 0em, 26em) rotateZ(90deg) rotateY(0deg)  }
  to {transform:  translate3D(1.5em, 0em, 26em) rotateZ(90deg) rotateY(-360deg)  }
}

@keyframes tireSpinFrontRight {
  from{transform: translate3D(18em, 0.5em, 0em) rotateZ(90deg) rotateY(0deg)   }
  to {transform:  translate3D(18em, 0.5em, 0em) rotateZ(90deg) rotateY(-360deg)  }
}

@keyframes tireSpinBackRight {
  from{transform: translate3D(18em, 0em, 26em) rotateZ(90deg) rotateY(0deg)   }
  to {transform:  translate3D(18em, 0em, 26em) rotateZ(90deg) rotateY(-360deg)  }
}





/************************* PALM TREE  *********************/
.tree-cyl-1 .face, .tree-cyl-1 .side, .tree-cyl-2 .face, .tree-cyl-2 .side, .tree-cyl-3 .face, .tree-cyl-3 .side, .tree-cyl-4 .face, .tree-cyl-4 .side, .tree-cyl-5 .face, .tree-cyl-5 .side, .tree-cyl-6 .face, .tree-cyl-6 .side, .tree-cyl-7 .face, .tree-cyl-7 .side, .tree-cyl-8 .face, .tree-cyl-8 .side {
  background-color:#FAFF6660;
}

.tree-pri-1 .face, .tree-pri-2 .face, .tree-pri-3 .face, .tree-pri-4 .face {
  background-color:#BCFF7666;
}



/******************* tree animation *******************/

#palmTree {
/*   display: none; */
  animation-name: palmTreeMove;
  animation-duration: calc(0.66 * var(--floorRate));
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}


@keyframes palmTreeMove {
  from{transform:  translateZ(-500em) translateY(50em) translateX(-55em) rotateY(45deg)  }
  to {transform:  translateZ(100em) translateY(45em) translateX(-55em) rotateY(45deg)  }
}














































        /************* DONT TOUCH (probably) **************/
.face {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.9);
}
/* .scene, .shape, .face, .face-wrapper, .cr {
  position: absolute;
  transform-style: preserve-3d;
}
.scene {
  width: 80em;
  height: 80em;
  top: 50%;
  left: 50%;
  margin: -40em 0 0 -40em;
} */
.shape {
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  transform-origin: 50%;
}
.face, .face-wrapper {
  overflow: hidden;
  transform-origin: 0 0;
  backface-visibility: hidden;
  /* hidden by default, prevent blinking and other weird rendering glitchs */
}
.face {
  background-size: 100% 100%!important;
  background-position: center;
}
.face-wrapper .face {
  left: 100%;
  width: 100%;
  height: 100%
}
/* .photon-shader {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%
} */
.side {
  left: 50%;
}
.cr, .cr .side {
  height: 100%;
}
[class*="cylinder"] .tp {
  transform: rotateX(90deg) translateY(-50%);
}
[class*="cylinder"] .bm {
  transform: rotateX(-90deg) translateY(-50%);
}
[class*="cylinder"] .tp, [class*="cylinder"] .bm, [class*="cylinder"] .tp .photon-shader, [class*="cylinder"] .bm .photon-shader {
  border-radius: 50%;
}
[class*="cylinder"] .bm {
  top: 100%;
}
[class*="prism"] .ft, [class*="prism"] .bk {
  width: 100%;
  height: 100%;
}
[class*="prism"] .bk {
  left: 100%;
}
[class*="prism"] .rt {
  transform: rotateY(-90deg) translateX(-50%);
}
[class*="prism"] .lt {
  transform: rotateY(90deg) translateX(-50%);
}
[class*="prism"] .bm {
  transform: rotateX(-90deg) translateY(-50%);
}
[class*="prism"] .lt {
  left: 100%;
}
[class*="prism"] .bm {
  top: 100%;
}
[class*="prism"] .rt .face {
  left: -100%;
  transform-origin: 100% 0;
}
[class*="cuboid"] .ft, [class*="cuboid"] .bk {
  width: 100%;
  height: 100%;
}
[class*="cuboid"] .bk {
  left: 100%;
}
[class*="cuboid"] .rt {
  transform: rotateY(-90deg) translateX(-50%);
}
[class*="cuboid"] .lt {
  transform: rotateY(90deg) translateX(-50%);
}
[class*="cuboid"] .tp {
  transform: rotateX(90deg) translateY(-50%);
}
[class*="cuboid"] .bm {
  transform: rotateX(-90deg) translateY(-50%);
}
[class*="cuboid"] .lt {
  left: 100%;
}
[class*="cuboid"] .bm {
  top: 100%;
}


/* .cyl-1 styles */
.cyl-1 {
  transform:translate3D(1.5em, 0.5em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(-90deg);
  opacity:1;
  width:2em;
  height:4em;
  margin:-2em 0 0 -1em;
}
.cyl-1 .tp, .cyl-1 .bm {
  width:2em;
  height:2em;
}
.cyl-1 .side {
  width:0.517955726063955em;
  height:4em;
}
.cyl-1 .s0 {
  transform: rotateY(13.846153846153847deg) translate3D(-50%, 0, 0.975em);
}
.cyl-1 .s1 {
  transform: rotateY(41.53846153846154deg) translate3D(-50%, 0, 0.975em);
}
.cyl-1 .s2 {
  transform: rotateY(69.23076923076923deg) translate3D(-50%, 0, 0.975em);
}
.cyl-1 .s3 {
  transform: rotateY(96.92307692307693deg) translate3D(-50%, 0, 0.975em);
}
.cyl-1 .s4 {
  transform: rotateY(124.61538461538461deg) translate3D(-50%, 0, 0.975em);
}
.cyl-1 .s5 {
  transform: rotateY(152.3076923076923deg) translate3D(-50%, 0, 0.975em);
}
.cyl-1 .s6 {
  transform: rotateY(180deg) translate3D(-50%, 0, 0.975em);
}
.cyl-1 .s7 {
  transform: rotateY(207.6923076923077deg) translate3D(-50%, 0, 0.975em);
}
.cyl-1 .s8 {
  transform: rotateY(235.3846153846154deg) translate3D(-50%, 0, 0.975em);
}
.cyl-1 .s9 {
  transform: rotateY(263.0769230769231deg) translate3D(-50%, 0, 0.975em);
}
.cyl-1 .s10 {
  transform: rotateY(290.7692307692308deg) translate3D(-50%, 0, 0.975em);
}
.cyl-1 .s11 {
  transform: rotateY(318.4615384615385deg) translate3D(-50%, 0, 0.975em);
}
.cyl-1 .s12 {
  transform: rotateY(346.1538461538462deg) translate3D(-50%, 0, 0.975em);
}





/* .cyl-9 styles */
.cyl-9 {
  transform:translate3D(1.5em, 0em, 26em) rotateX(0deg) rotateY(0deg) rotateZ(-90deg);
  opacity:1;
  width:2em;
  height:4em;
  margin:-2em 0 0 -1em;
}
.cyl-9 .tp, .cyl-9 .bm {
  width:2em;
  height:2em;
}
.cyl-9 .side {
  width:0.517955726063955em;
  height:4em;
}
.cyl-9 .s0 {
  transform: rotateY(13.846153846153847deg) translate3D(-50%, 0, 0.975em);
}
.cyl-9 .s1 {
  transform: rotateY(41.53846153846154deg) translate3D(-50%, 0, 0.975em);
}
.cyl-9 .s2 {
  transform: rotateY(69.23076923076923deg) translate3D(-50%, 0, 0.975em);
}
.cyl-9 .s3 {
  transform: rotateY(96.92307692307693deg) translate3D(-50%, 0, 0.975em);
}
.cyl-9 .s4 {
  transform: rotateY(124.61538461538461deg) translate3D(-50%, 0, 0.975em);
}
.cyl-9 .s5 {
  transform: rotateY(152.3076923076923deg) translate3D(-50%, 0, 0.975em);
}
.cyl-9 .s6 {
  transform: rotateY(180deg) translate3D(-50%, 0, 0.975em);
}
.cyl-9 .s7 {
  transform: rotateY(207.6923076923077deg) translate3D(-50%, 0, 0.975em);
}
.cyl-9 .s8 {
  transform: rotateY(235.3846153846154deg) translate3D(-50%, 0, 0.975em);
}
.cyl-9 .s9 {
  transform: rotateY(263.0769230769231deg) translate3D(-50%, 0, 0.975em);
}
.cyl-9 .s10 {
  transform: rotateY(290.7692307692308deg) translate3D(-50%, 0, 0.975em);
}
.cyl-9 .s11 {
  transform: rotateY(318.4615384615385deg) translate3D(-50%, 0, 0.975em);
}
.cyl-9 .s12 {
  transform: rotateY(346.1538461538462deg) translate3D(-50%, 0, 0.975em);
}

/* .cyl-10 styles */
.cyl-10 {
  transform:translate3D(17.5em, 0em, 26em) rotateX(0deg) rotateY(0deg) rotateZ(-90deg);
  opacity:1;
  width:2em;
  height:4em;
  margin:-2em 0 0 -1em;
}
.cyl-10 .tp, .cyl-10 .bm {
  width:2em;
  height:2em;
}
.cyl-10 .side {
  width:0.517955726063955em;
  height:4em;
}
.cyl-10 .s0 {
  transform: rotateY(13.846153846153847deg) translate3D(-50%, 0, 0.975em);
}
.cyl-10 .s1 {
  transform: rotateY(41.53846153846154deg) translate3D(-50%, 0, 0.975em);
}
.cyl-10 .s2 {
  transform: rotateY(69.23076923076923deg) translate3D(-50%, 0, 0.975em);
}
.cyl-10 .s3 {
  transform: rotateY(96.92307692307693deg) translate3D(-50%, 0, 0.975em);
}
.cyl-10 .s4 {
  transform: rotateY(124.61538461538461deg) translate3D(-50%, 0, 0.975em);
}
.cyl-10 .s5 {
  transform: rotateY(152.3076923076923deg) translate3D(-50%, 0, 0.975em);
}
.cyl-10 .s6 {
  transform: rotateY(180deg) translate3D(-50%, 0, 0.975em);
}
.cyl-10 .s7 {
  transform: rotateY(207.6923076923077deg) translate3D(-50%, 0, 0.975em);
}
.cyl-10 .s8 {
  transform: rotateY(235.3846153846154deg) translate3D(-50%, 0, 0.975em);
}
.cyl-10 .s9 {
  transform: rotateY(263.0769230769231deg) translate3D(-50%, 0, 0.975em);
}
.cyl-10 .s10 {
  transform: rotateY(290.7692307692308deg) translate3D(-50%, 0, 0.975em);
}
.cyl-10 .s11 {
  transform: rotateY(318.4615384615385deg) translate3D(-50%, 0, 0.975em);
}
.cyl-10 .s12 {
  transform: rotateY(346.1538461538462deg) translate3D(-50%, 0, 0.975em);
}

/* .cyl-11 styles */
.cyl-11 {
  transform:translate3D(17.5em, 0.5em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(-90deg);
  opacity:1;
  width:2em;
  height:4em;
  margin:-2em 0 0 -1em;
}
.cyl-11 .tp, .cyl-11 .bm {
  width:2em;
  height:2em;
}
.cyl-11 .side {
  width:0.517955726063955em;
  height:4em;
}
.cyl-11 .s0 {
  transform: rotateY(13.846153846153847deg) translate3D(-50%, 0, 0.975em);
}
.cyl-11 .s1 {
  transform: rotateY(41.53846153846154deg) translate3D(-50%, 0, 0.975em);
}
.cyl-11 .s2 {
  transform: rotateY(69.23076923076923deg) translate3D(-50%, 0, 0.975em);
}
.cyl-11 .s3 {
  transform: rotateY(96.92307692307693deg) translate3D(-50%, 0, 0.975em);
}
.cyl-11 .s4 {
  transform: rotateY(124.61538461538461deg) translate3D(-50%, 0, 0.975em);
}
.cyl-11 .s5 {
  transform: rotateY(152.3076923076923deg) translate3D(-50%, 0, 0.975em);
}
.cyl-11 .s6 {
  transform: rotateY(180deg) translate3D(-50%, 0, 0.975em);
}
.cyl-11 .s7 {
  transform: rotateY(207.6923076923077deg) translate3D(-50%, 0, 0.975em);
}
.cyl-11 .s8 {
  transform: rotateY(235.3846153846154deg) translate3D(-50%, 0, 0.975em);
}
.cyl-11 .s9 {
  transform: rotateY(263.0769230769231deg) translate3D(-50%, 0, 0.975em);
}
.cyl-11 .s10 {
  transform: rotateY(290.7692307692308deg) translate3D(-50%, 0, 0.975em);
}
.cyl-11 .s11 {
  transform: rotateY(318.4615384615385deg) translate3D(-50%, 0, 0.975em);
}
.cyl-11 .s12 {
  transform: rotateY(346.1538461538462deg) translate3D(-50%, 0, 0.975em);
}



/* .cyl-2 styles */
.cyl-2 {
  transform:translate3D(1em, 0em, 26em) rotateX(0deg) rotateY(0deg) rotateZ(-90deg);
  opacity:1;
  width:7em;
  height:6em;
  margin:-3em 0 0 -3.5em;
}
.cyl-2 .tp, .cyl-2 .bm {
  width:7em;
  height:7em;
}
.cyl-2 .side {
  width:1.6227043207310494em;
  height:6em;
}
.cyl-2 .s0 {
  transform: rotateY(12.857142857142858deg) translate3D(-50%, 0, 3.475em);
}
.cyl-2 .s1 {
  transform: rotateY(38.57142857142857deg) translate3D(-50%, 0, 3.475em);
}
.cyl-2 .s2 {
  transform: rotateY(64.28571428571429deg) translate3D(-50%, 0, 3.475em);
}
.cyl-2 .s3 {
  transform: rotateY(90deg) translate3D(-50%, 0, 3.475em);
}
.cyl-2 .s4 {
  transform: rotateY(115.71428571428572deg) translate3D(-50%, 0, 3.475em);
}
.cyl-2 .s5 {
  transform: rotateY(141.42857142857144deg) translate3D(-50%, 0, 3.475em);
}
.cyl-2 .s6 {
  transform: rotateY(167.14285714285714deg) translate3D(-50%, 0, 3.475em);
}
.cyl-2 .s7 {
  transform: rotateY(192.85714285714286deg) translate3D(-50%, 0, 3.475em);
}
.cyl-2 .s8 {
  transform: rotateY(218.57142857142858deg) translate3D(-50%, 0, 3.475em);
}
.cyl-2 .s9 {
  transform: rotateY(244.2857142857143deg) translate3D(-50%, 0, 3.475em);
}
.cyl-2 .s10 {
  transform: rotateY(270deg) translate3D(-50%, 0, 3.475em);
}
.cyl-2 .s11 {
  transform: rotateY(295.7142857142857deg) translate3D(-50%, 0, 3.475em);
}
.cyl-2 .s12 {
  transform: rotateY(321.4285714285714deg) translate3D(-50%, 0, 3.475em);
}
.cyl-2 .s13 {
  transform: rotateY(347.1428571428571deg) translate3D(-50%, 0, 3.475em);
}


/* .cyl-3 styles */
.cyl-3 {
  /* transform:translate3D(18em, 0.5em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(-90deg); */
  opacity:1;
  width:6em;
  height:5em;
  margin:-2.5em 0 0 -3em;
}
.cyl-3 .tp, .cyl-3 .bm {
  width:6em;
  height:6em;
}
.cyl-3 .side {
  width:1.632695154586736em;
  height:5em;
}
.cyl-3 .s0 {
  transform: rotateY(15deg) translate3D(-50%, 0, 2.975em);
}
.cyl-3 .s1 {
  transform: rotateY(45deg) translate3D(-50%, 0, 2.975em);
}
.cyl-3 .s2 {
  transform: rotateY(75deg) translate3D(-50%, 0, 2.975em);
}
.cyl-3 .s3 {
  transform: rotateY(105deg) translate3D(-50%, 0, 2.975em);
}
.cyl-3 .s4 {
  transform: rotateY(135deg) translate3D(-50%, 0, 2.975em);
}
.cyl-3 .s5 {
  transform: rotateY(165deg) translate3D(-50%, 0, 2.975em);
}
.cyl-3 .s6 {
  transform: rotateY(195deg) translate3D(-50%, 0, 2.975em);
}
.cyl-3 .s7 {
  transform: rotateY(225deg) translate3D(-50%, 0, 2.975em);
}
.cyl-3 .s8 {
  transform: rotateY(255deg) translate3D(-50%, 0, 2.975em);
}
.cyl-3 .s9 {
  transform: rotateY(285deg) translate3D(-50%, 0, 2.975em);
}
.cyl-3 .s10 {
  transform: rotateY(315deg) translate3D(-50%, 0, 2.975em);
}
.cyl-3 .s11 {
  transform: rotateY(345deg) translate3D(-50%, 0, 2.975em);
}
 
/* .cyl-4 styles */
.cyl-4 {
  transform:translate3D(18em, 0em, 26em) rotateX(0deg) rotateY(0deg) rotateZ(-90deg);
  opacity:1;
  width:7em;
  height:6em;
  margin:-3em 0 0 -3.5em;
}
.cyl-4 .tp, .cyl-4 .bm {
  width:7em;
  height:7em;
}
.cyl-4 .side {
  width:1.6227043207310494em;
  height:6em;
}
.cyl-4 .s0 {
  transform: rotateY(12.857142857142858deg) translate3D(-50%, 0, 3.475em);
}
.cyl-4 .s1 {
  transform: rotateY(38.57142857142857deg) translate3D(-50%, 0, 3.475em);
}
.cyl-4 .s2 {
  transform: rotateY(64.28571428571429deg) translate3D(-50%, 0, 3.475em);
}
.cyl-4 .s3 {
  transform: rotateY(90deg) translate3D(-50%, 0, 3.475em);
}
.cyl-4 .s4 {
  transform: rotateY(115.71428571428572deg) translate3D(-50%, 0, 3.475em);
}
.cyl-4 .s5 {
  transform: rotateY(141.42857142857144deg) translate3D(-50%, 0, 3.475em);
}
.cyl-4 .s6 {
  transform: rotateY(167.14285714285714deg) translate3D(-50%, 0, 3.475em);
}
.cyl-4 .s7 {
  transform: rotateY(192.85714285714286deg) translate3D(-50%, 0, 3.475em);
}
.cyl-4 .s8 {
  transform: rotateY(218.57142857142858deg) translate3D(-50%, 0, 3.475em);
}
.cyl-4 .s9 {
  transform: rotateY(244.2857142857143deg) translate3D(-50%, 0, 3.475em);
}
.cyl-4 .s10 {
  transform: rotateY(270deg) translate3D(-50%, 0, 3.475em);
}
.cyl-4 .s11 {
  transform: rotateY(295.7142857142857deg) translate3D(-50%, 0, 3.475em);
}
.cyl-4 .s12 {
  transform: rotateY(321.4285714285714deg) translate3D(-50%, 0, 3.475em);
}
.cyl-4 .s13 {
  transform: rotateY(347.1428571428571deg) translate3D(-50%, 0, 3.475em);
}




/* .cyl-5 styles */
.cyl-5 {
  transform:translate3D(1em, .5em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(-90deg);
  opacity:1;
  width:6em;
  height:5em;
  margin:-2.5em 0 0 -3em;
}
.cyl-5 .tp, .cyl-5 .bm {
  width:6em;
  height:6em;
}
.cyl-5 .side {
  width:1.632695154586736em;
  height:5em;
}
.cyl-5 .s0 {
  transform: rotateY(15deg) translate3D(-50%, 0, 2.975em);
}
.cyl-5 .s1 {
  transform: rotateY(45deg) translate3D(-50%, 0, 2.975em);
}
.cyl-5 .s2 {
  transform: rotateY(75deg) translate3D(-50%, 0, 2.975em);
}
.cyl-5 .s3 {
  transform: rotateY(105deg) translate3D(-50%, 0, 2.975em);
}
.cyl-5 .s4 {
  transform: rotateY(135deg) translate3D(-50%, 0, 2.975em);
}
.cyl-5 .s5 {
  transform: rotateY(165deg) translate3D(-50%, 0, 2.975em);
}
.cyl-5 .s6 {
  transform: rotateY(195deg) translate3D(-50%, 0, 2.975em);
}
.cyl-5 .s7 {
  transform: rotateY(225deg) translate3D(-50%, 0, 2.975em);
}
.cyl-5 .s8 {
  transform: rotateY(255deg) translate3D(-50%, 0, 2.975em);
}
.cyl-5 .s9 {
  transform: rotateY(285deg) translate3D(-50%, 0, 2.975em);
}
.cyl-5 .s10 {
  transform: rotateY(315deg) translate3D(-50%, 0, 2.975em);
}
.cyl-5 .s11 {
  transform: rotateY(345deg) translate3D(-50%, 0, 2.975em);
}



/* .pri-1 styles */
.pri-1 {
  transform:translate3D(9.5em, 0.5em, -8.5em) rotateX(90deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:21em;
  height:5em;
  margin:-2.5em 0 0 -10.5em;
}
.pri-1 .rt .face {
  transform:rotateZ(-21.801409486351798deg);
}
.pri-1 .lt .face {
  transform:rotateZ(21.801409486351798deg);
}
.pri-1 .ft {
  height:5.385164807134504em;
  transform:translateZ(-1em) rotateX(21.801409486351798deg);
}
.pri-1 .bk {
  transform:translateZ(-1em) rotateY(180deg);
}
.pri-1 .rt, .pri-1 .lt {
  width:2em;
  height:5em;
}
.pri-1 .rt .face, .pri-1 .lt .face {
  height:5.385164807134504em;
}
.pri-1 .bm {
  width:21em;
  height:2em;
}


/* .cub-1 styles */
.cub-1 {
  transform:translate3D(9.5em, 0.25em, 11em) rotateX(1deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:4em;
  height:2em;
  margin:-1em 0 0 -2em;
}
.cub-1 .ft {
  transform:translateZ(17em);
}
.cub-1 .bk {
  transform:translateZ(-17em) rotateY(180deg);
}
.cub-1 .rt, .cub-1 .lt {
  width:34em;
  height:2em;
}
.cub-1 .tp, .cub-1 .bm {
  width:4em;
  height:34em;
}

.cub-1 .ft {
  width:4em;
  margin-left:0em;
}
.cub-1 .bk {
  width:4em;
  margin-left:0em;
}
.cub-1 .rt, .cub-1 .lt {
  width:34em;
}
.cub-1 .tp, .cub-1 .bm, .cub-1 .tp .photon-shader, .cub-1 .bm .photon-shader {
  border-radius:0em;
}
.cub-1 .cr {
  width:0em;
  left:0em;
}
.cub-1 .cr-0 {
  transform: translate3D(4em, 0, 17em);
}
.cub-1 .cr-1 {
  transform: translate3D(4em, 0, -17em);
}
.cub-1 .cr-2 {
  transform: translate3D(0, 0, -17em);
}
.cub-1 .cr-3 {
  transform: translate3D(0, 0, 17em);
}
.cub-1 .cr-0 .s0 {
  transform: rotateY(15deg) translate3D(-50%, 0, -0.025em);
}
.cub-1 .cr-0 .s1 {
  transform: rotateY(45deg) translate3D(-50%, 0, -0.025em);
}
.cub-1 .cr-0 .s2 {
  transform: rotateY(75deg) translate3D(-50%, 0, -0.025em);
}
.cub-1 .cr-1 .s0 {
  transform: rotateY(105deg) translate3D(-50%, 0, -0.025em);
}
.cub-1 .cr-1 .s1 {
  transform: rotateY(135deg) translate3D(-50%, 0, -0.025em);
}
.cub-1 .cr-1 .s2 {
  transform: rotateY(165deg) translate3D(-50%, 0, -0.025em);
}
.cub-1 .cr-2 .s0 {
  transform: rotateY(195deg) translate3D(-50%, 0, -0.025em);
}
.cub-1 .cr-2 .s1 {
  transform: rotateY(225deg) translate3D(-50%, 0, -0.025em);
}
.cub-1 .cr-2 .s2 {
  transform: rotateY(255deg) translate3D(-50%, 0, -0.025em);
}
.cub-1 .cr-3 .s0 {
  transform: rotateY(285deg) translate3D(-50%, 0, -0.025em);
}
.cub-1 .cr-3 .s1 {
  transform: rotateY(315deg) translate3D(-50%, 0, -0.025em);
}
.cub-1 .cr-3 .s2 {
  transform: rotateY(345deg) translate3D(-50%, 0, -0.025em);
}
.cub-1 .side {
  width:0.025em;
}
/* .cub-2 styles */
.cub-2 {
  transform:translate3D(9.5em, 0em, 12em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:14em;
  height:4em;
  margin:-2em 0 0 -7em;
}
.cub-2 .ft {
  transform:translateZ(8em);
}
.cub-2 .bk {
  transform:translateZ(-8em) rotateY(180deg);
}
.cub-2 .rt, .cub-2 .lt {
  width:16em;
  height:4em;
}
.cub-2 .tp, .cub-2 .bm {
  width:14em;
  height:16em;
}

/* .cyl-6 styles */
.cyl-6 {
  transform:translate3D(9.5em, 0.5em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(-90deg);
  opacity:1;
  width:1em;
  height:12em;
  margin:-6em 0 0 -0.5em;
}
.cyl-6 .tp, .cyl-6 .bm {
  width:1em;
  height:1em;
  /* display: none; */
}
.cyl-6 .side {
  width:0.43921356237309506em;
  height:12.5em;
}
.cyl-6 .s0 {
  transform: rotateY(22.5deg) translate3D(-50%, 0, 0.475em);
}
.cyl-6 .s1 {
  transform: rotateY(67.5deg) translate3D(-50%, 0, 0.475em);
}
.cyl-6 .s2 {
  transform: rotateY(112.5deg) translate3D(-50%, 0, 0.475em);
}
.cyl-6 .s3 {
  transform: rotateY(157.5deg) translate3D(-50%, 0, 0.475em);
}
.cyl-6 .s4 {
  transform: rotateY(202.5deg) translate3D(-50%, 0, 0.475em);
}
.cyl-6 .s5 {
  transform: rotateY(247.5deg) translate3D(-50%, 0, 0.475em);
}
.cyl-6 .s6 {
  transform: rotateY(292.5deg) translate3D(-50%, 0, 0.475em);
}
.cyl-6 .s7 {
  transform: rotateY(337.5deg) translate3D(-50%, 0, 0.475em);
}

/* .cyl-7 styles */
.cyl-7 {
  transform:translate3D(9.5em, 0em, 26em) rotateX(0deg) rotateY(0deg) rotateZ(-90deg);
  opacity:1;
  width:1em;
  height:12em;
  margin:-6em 0 0 -0.5em;
}
.cyl-7 .tp, .cyl-7 .bm {
  width:1em;
  height:1em;
}
.cyl-7 .side {
  width:0.43921356237309506em;
  height:12.5em;
}
.cyl-7 .s0 {
  transform: rotateY(22.5deg) translate3D(-50%, 0, 0.475em);
}
.cyl-7 .s1 {
  transform: rotateY(67.5deg) translate3D(-50%, 0, 0.475em);
}
.cyl-7 .s2 {
  transform: rotateY(112.5deg) translate3D(-50%, 0, 0.475em);
}
.cyl-7 .s3 {
  transform: rotateY(157.5deg) translate3D(-50%, 0, 0.475em);
}
.cyl-7 .s4 {
  transform: rotateY(202.5deg) translate3D(-50%, 0, 0.475em);
}
.cyl-7 .s5 {
  transform: rotateY(247.5deg) translate3D(-50%, 0, 0.475em);
}
.cyl-7 .s6 {
  transform: rotateY(292.5deg) translate3D(-50%, 0, 0.475em);
}
.cyl-7 .s7 {
  transform: rotateY(337.5deg) translate3D(-50%, 0, 0.475em);
}

/* .cub-3 styles */
.cub-3 {
  transform:translate3D(9.5em, -1.5em, 26em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:10em;
  height:1em;
  margin:-0.5em 0 0 -5em;
}
.cub-3 .ft {
  transform:translateZ(1.5em);
}
.cub-3 .bk {
  transform:translateZ(-1.5em) rotateY(180deg);
}
.cub-3 .rt, .cub-3 .lt {
  width:3em;
  height:1em;
}
.cub-3 .tp, .cub-3 .bm {
  width:10em;
  height:3em;
}

/* .cub-4 styles */
.cub-4 {
  transform:translate3D(4.75em, -3.5em, 26em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:.5em;
  height:3em;
  margin:-1.5em 0 0 -0.25em;
}
.cub-4 .ft {
  transform:translateZ(1.5em);
}
.cub-4 .bk {
  transform:translateZ(-1.5em) rotateY(180deg);
}
.cub-4 .rt, .cub-4 .lt {
  width:3em;
  height:3em;
}
.cub-4 .tp, .cub-4 .bm {
  width:.5em;
  height:3em;
}

/* .cub-5 styles */
.cub-5 {
  transform:translate3D(14.25em, -3.5em, 26em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:.5em;
  height:3em;
  margin:-1.5em 0 0 -0.25em;
}
.cub-5 .ft {
  transform:translateZ(1.5em);
}
.cub-5 .bk {
  transform:translateZ(-1.5em) rotateY(180deg);
}
.cub-5 .rt, .cub-5 .lt {
  width:3em;
  height:3em;
}
.cub-5 .tp, .cub-5 .bm {
  width:.5em;
  height:3em;
}

/* .pri-2 styles */
.pri-2 {
  transform:translate3D(10em, -5.5em, 26em) rotateX(90deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:18em;
  height:5em;
  margin:-2.5em 0 0 -9em;
}
.pri-2 .rt .face {
  transform:rotateZ(-11.309932474020195deg);
}
.pri-2 .lt .face {
  transform:rotateZ(11.309932474020195deg);
}
.pri-2 .ft {
  height:5.0990195135927845em;
  transform:translateZ(-0.5em) rotateX(11.309932474020195deg);
}
.pri-2 .bk {
  transform:translateZ(-0.5em) rotateY(180deg);
}
.pri-2 .rt, .pri-2 .lt {
  width:1em;
  height:5em;
}
.pri-2 .rt .face, .pri-2 .lt .face {
  height:5.0990195135927845em;
}
.pri-2 .bm {
  width:18em;
  height:1em;
}

/* .pri-3 styles */
.pri-3 {
  transform:translate3D(9.5em, -3em, 17em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:4em;
  height:2em;
  margin:-1em 0 0 -2em;
}
.pri-3 .rt .face {
  transform:rotateZ(-77.47119229084849deg);
}
.pri-3 .lt .face {
  transform:rotateZ(77.47119229084849deg);
}
.pri-3 .ft {
  height:9.219544457292887em;
  transform:translateZ(-4.5em) rotateX(77.47119229084849deg);
}
.pri-3 .bk {
  transform:translateZ(-4.5em) rotateY(180deg);
}
.pri-3 .rt, .pri-3 .lt {
  width:9em;
  height:2em;
}
.pri-3 .rt .face, .pri-3 .lt .face {
  height:9.219544457292887em;
}
.pri-3 .bm {
  width:4em;
  height:9em;
}

/* .cyl-8 styles */
.cyl-8 {
  transform:translate3D(9.5em, -2em, 8em) rotateX(0deg) rotateY(270deg) rotateZ(-90deg);
  opacity:1;
  width:3em;
  height:0.5em;
  margin:-0.25em 0 0 -1.5em;
}
.cyl-8 .tp, .cyl-8 .bm {
  width:3em;
  height:3em;
}
.cyl-8 .side {
  width:0.7097304231704499em;
  height:0.5em;
}
.cyl-8 .s0 {
  transform: rotateY(12.857142857142858deg) translate3D(-50%, 0, 1.475em);
}
.cyl-8 .s1 {
  transform: rotateY(38.57142857142857deg) translate3D(-50%, 0, 1.475em);
}
.cyl-8 .s2 {
  transform: rotateY(64.28571428571429deg) translate3D(-50%, 0, 1.475em);
}
.cyl-8 .s3 {
  transform: rotateY(90deg) translate3D(-50%, 0, 1.475em);
}
.cyl-8 .s4 {
  transform: rotateY(115.71428571428572deg) translate3D(-50%, 0, 1.475em);
}
.cyl-8 .s5 {
  transform: rotateY(141.42857142857144deg) translate3D(-50%, 0, 1.475em);
}
.cyl-8 .s6 {
  transform: rotateY(167.14285714285714deg) translate3D(-50%, 0, 1.475em);
}
.cyl-8 .s7 {
  transform: rotateY(192.85714285714286deg) translate3D(-50%, 0, 1.475em);
}
.cyl-8 .s8 {
  transform: rotateY(218.57142857142858deg) translate3D(-50%, 0, 1.475em);
}
.cyl-8 .s9 {
  transform: rotateY(244.2857142857143deg) translate3D(-50%, 0, 1.475em);
}
.cyl-8 .s10 {
  transform: rotateY(270deg) translate3D(-50%, 0, 1.475em);
}
.cyl-8 .s11 {
  transform: rotateY(295.7142857142857deg) translate3D(-50%, 0, 1.475em);
}
.cyl-8 .s12 {
  transform: rotateY(321.4285714285714deg) translate3D(-50%, 0, 1.475em);
}
.cyl-8 .s13 {
  transform: rotateY(347.1428571428571deg) translate3D(-50%, 0, 1.475em);
}




/*********** PALM TREE STUFF **************/
/* /!\ You need to add vendor prefixes in order to render the CSS properly (or simply use http://leaverou.github.io/prefixfree/) /!\ */ 
/* .face {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.4);
}
.scene, .shape, .face, .face-wrapper, .cr {
  position: absolute;
  transform-style: preserve-3d;
}
.scene {
  width: 80em;
  height: 80em;
  top: 50%;
  left: 50%;
  margin: -40em 0 0 -40em;
}
.shape {
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  transform-origin: 50%;
}
.face, .face-wrapper {
  overflow: hidden;
  transform-origin: 0 0;
  backface-visibility: hidden;
}
.face {
  background-size: 100% 100%!important;
  background-position: center;
}
.face-wrapper .face {
  left: 100%;
  width: 100%;
  height: 100%
}
.photon-shader {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%
}
.side {
  left: 50%;
}
.cr, .cr .side {
  height: 100%;
} */
[class*="cylinder"] .tp {
  transform: rotateX(90deg) translateY(-50%);
}
[class*="cylinder"] .bm {
  transform: rotateX(-90deg) translateY(-50%);
}
[class*="cylinder"] .tp, [class*="cylinder"] .bm, [class*="cylinder"] .tp .photon-shader, [class*="cylinder"] .bm .photon-shader {
  border-radius: 50%;
}
[class*="cylinder"] .bm {
  top: 100%;
}
[class*="prism"] .ft, [class*="prism"] .bk {
  width: 100%;
  height: 100%;
}
[class*="prism"] .bk {
  left: 100%;
}
[class*="prism"] .rt {
  transform: rotateY(-90deg) translateX(-50%);
}
[class*="prism"] .lt {
  transform: rotateY(90deg) translateX(-50%);
}
[class*="prism"] .bm {
  transform: rotateX(-90deg) translateY(-50%);
}
[class*="prism"] .lt {
  left: 100%;
}
[class*="prism"] .bm {
  top: 100%;
}
[class*="prism"] .rt .face {
  left: -100%;
  transform-origin: 100% 0;
}
/* .tree-cyl-1 styles */
.tree-cyl-1 {
  transform:translate3D(0em, 0em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:3em;
  height:4em;
  margin:-2em 0 0 -1.5em;
}
.tree-cyl-1 .tp, .tree-cyl-1 .bm {
  width:3em;
  height:3em;
}
.tree-cyl-1 .side {
  width:1.2676406871192851em;
  height:4em;
}
.tree-cyl-1 .s0 {
  transform: rotateY(22.5deg) translate3D(-50%, 0, 1.475em);
}
.tree-cyl-1 .s1 {
  transform: rotateY(67.5deg) translate3D(-50%, 0, 1.475em);
}
.tree-cyl-1 .s2 {
  transform: rotateY(112.5deg) translate3D(-50%, 0, 1.475em);
}
.tree-cyl-1 .s3 {
  transform: rotateY(157.5deg) translate3D(-50%, 0, 1.475em);
}
.tree-cyl-1 .s4 {
  transform: rotateY(202.5deg) translate3D(-50%, 0, 1.475em);
}
.tree-cyl-1 .s5 {
  transform: rotateY(247.5deg) translate3D(-50%, 0, 1.475em);
}
.tree-cyl-1 .s6 {
  transform: rotateY(292.5deg) translate3D(-50%, 0, 1.475em);
}
.tree-cyl-1 .s7 {
  transform: rotateY(337.5deg) translate3D(-50%, 0, 1.475em);
}

/* .tree-cyl-2 styles */
.tree-cyl-2 {
  transform:translate3D(0em, -5em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:3em;
  height:4em;
  margin:-2em 0 0 -1.5em;
}
.tree-cyl-2 .tp, .tree-cyl-2 .bm {
  width:3em;
  height:3em;
}
.tree-cyl-2 .side {
  width:1.2676406871192851em;
  height:4em;
}
.tree-cyl-2 .s0 {
  transform: rotateY(22.5deg) translate3D(-50%, 0, 1.475em);
}
.tree-cyl-2 .s1 {
  transform: rotateY(67.5deg) translate3D(-50%, 0, 1.475em);
}
.tree-cyl-2 .s2 {
  transform: rotateY(112.5deg) translate3D(-50%, 0, 1.475em);
}
.tree-cyl-2 .s3 {
  transform: rotateY(157.5deg) translate3D(-50%, 0, 1.475em);
}
.tree-cyl-2 .s4 {
  transform: rotateY(202.5deg) translate3D(-50%, 0, 1.475em);
}
.tree-cyl-2 .s5 {
  transform: rotateY(247.5deg) translate3D(-50%, 0, 1.475em);
}
.tree-cyl-2 .s6 {
  transform: rotateY(292.5deg) translate3D(-50%, 0, 1.475em);
}
.tree-cyl-2 .s7 {
  transform: rotateY(337.5deg) translate3D(-50%, 0, 1.475em);
}

/* .tree-cyl-3 styles */
.tree-cyl-3 {
  transform:translate3D(0.5em, -10em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:3em;
  height:4em;
  margin:-2em 0 0 -1.5em;
}
.tree-cyl-3 .tp, .tree-cyl-3 .bm {
  width:3em;
  height:3em;
}
.tree-cyl-3 .side {
  width:1.2676406871192851em;
  height:4em;
}
.tree-cyl-3 .s0 {
  transform: rotateY(22.5deg) translate3D(-50%, 0, 1.475em);
}
.tree-cyl-3 .s1 {
  transform: rotateY(67.5deg) translate3D(-50%, 0, 1.475em);
}
.tree-cyl-3 .s2 {
  transform: rotateY(112.5deg) translate3D(-50%, 0, 1.475em);
}
.tree-cyl-3 .s3 {
  transform: rotateY(157.5deg) translate3D(-50%, 0, 1.475em);
}
.tree-cyl-3 .s4 {
  transform: rotateY(202.5deg) translate3D(-50%, 0, 1.475em);
}
.tree-cyl-3 .s5 {
  transform: rotateY(247.5deg) translate3D(-50%, 0, 1.475em);
}
.tree-cyl-3 .s6 {
  transform: rotateY(292.5deg) translate3D(-50%, 0, 1.475em);
}
.tree-cyl-3 .s7 {
  transform: rotateY(337.5deg) translate3D(-50%, 0, 1.475em);
}

/* .tree-cyl-4 styles */
.tree-cyl-4 {
  transform:translate3D(0.51em, -15em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:3em;
  height:4em;
  margin:-2em 0 0 -1.5em;
}
.tree-cyl-4 .tp, .tree-cyl-4 .bm {
  width:3em;
  height:3em;
}
.tree-cyl-4 .side {
  width:1.2676406871192851em;
  height:4em;
}
.tree-cyl-4 .s0 {
  transform: rotateY(22.5deg) translate3D(-50%, 0, 1.475em);
}
.tree-cyl-4 .s1 {
  transform: rotateY(67.5deg) translate3D(-50%, 0, 1.475em);
}
.tree-cyl-4 .s2 {
  transform: rotateY(112.5deg) translate3D(-50%, 0, 1.475em);
}
.tree-cyl-4 .s3 {
  transform: rotateY(157.5deg) translate3D(-50%, 0, 1.475em);
}
.tree-cyl-4 .s4 {
  transform: rotateY(202.5deg) translate3D(-50%, 0, 1.475em);
}
.tree-cyl-4 .s5 {
  transform: rotateY(247.5deg) translate3D(-50%, 0, 1.475em);
}
.tree-cyl-4 .s6 {
  transform: rotateY(292.5deg) translate3D(-50%, 0, 1.475em);
}
.tree-cyl-4 .s7 {
  transform: rotateY(337.5deg) translate3D(-50%, 0, 1.475em);
}

/* .tree-cyl-5 styles */
.tree-cyl-5 {
  transform:translate3D(0.511em, -20em, 01em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:3em;
  height:4em;
  margin:-2em 0 0 -1.5em;
}
.tree-cyl-5 .tp, .tree-cyl-5 .bm {
  width:3em;
  height:3em;
}
.tree-cyl-5 .side {
  width:1.2676406871192851em;
  height:4em;
}
.tree-cyl-5 .s0 {
  transform: rotateY(22.5deg) translate3D(-50%, 0, 1.475em);
}
.tree-cyl-5 .s1 {
  transform: rotateY(67.5deg) translate3D(-50%, 0, 1.475em);
}
.tree-cyl-5 .s2 {
  transform: rotateY(112.5deg) translate3D(-50%, 0, 1.475em);
}
.tree-cyl-5 .s3 {
  transform: rotateY(157.5deg) translate3D(-50%, 0, 1.475em);
}
.tree-cyl-5 .s4 {
  transform: rotateY(202.5deg) translate3D(-50%, 0, 1.475em);
}
.tree-cyl-5 .s5 {
  transform: rotateY(247.5deg) translate3D(-50%, 0, 1.475em);
}
.tree-cyl-5 .s6 {
  transform: rotateY(292.5deg) translate3D(-50%, 0, 1.475em);
}
.tree-cyl-5 .s7 {
  transform: rotateY(337.5deg) translate3D(-50%, 0, 1.475em);
}

/* .tree-cyl-6 styles */
.tree-cyl-6 {
  transform:translate3D(1em, -25em, 0.9166666666666665em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:3em;
  height:4em;
  margin:-2em 0 0 -1.5em;
}
.tree-cyl-6 .tp, .tree-cyl-6 .bm {
  width:3em;
  height:3em;
}
.tree-cyl-6 .side {
  width:1.2676406871192851em;
  height:4em;
}
.tree-cyl-6 .s0 {
  transform: rotateY(22.5deg) translate3D(-50%, 0, 1.475em);
}
.tree-cyl-6 .s1 {
  transform: rotateY(67.5deg) translate3D(-50%, 0, 1.475em);
}
.tree-cyl-6 .s2 {
  transform: rotateY(112.5deg) translate3D(-50%, 0, 1.475em);
}
.tree-cyl-6 .s3 {
  transform: rotateY(157.5deg) translate3D(-50%, 0, 1.475em);
}
.tree-cyl-6 .s4 {
  transform: rotateY(202.5deg) translate3D(-50%, 0, 1.475em);
}
.tree-cyl-6 .s5 {
  transform: rotateY(247.5deg) translate3D(-50%, 0, 1.475em);
}
.tree-cyl-6 .s6 {
  transform: rotateY(292.5deg) translate3D(-50%, 0, 1.475em);
}
.tree-cyl-6 .s7 {
  transform: rotateY(337.5deg) translate3D(-50%, 0, 1.475em);
}

/* .tree-cyl-7 styles */
.tree-cyl-7 {
  transform:translate3D(1.5em, -30em, 2em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:3em;
  height:4em;
  margin:-2em 0 0 -1.5em;
}
.tree-cyl-7 .tp, .tree-cyl-7 .bm {
  width:3em;
  height:3em;
}
.tree-cyl-7 .side {
  width:1.2676406871192851em;
  height:4em;
}
.tree-cyl-7 .s0 {
  transform: rotateY(22.5deg) translate3D(-50%, 0, 1.475em);
}
.tree-cyl-7 .s1 {
  transform: rotateY(67.5deg) translate3D(-50%, 0, 1.475em);
}
.tree-cyl-7 .s2 {
  transform: rotateY(112.5deg) translate3D(-50%, 0, 1.475em);
}
.tree-cyl-7 .s3 {
  transform: rotateY(157.5deg) translate3D(-50%, 0, 1.475em);
}
.tree-cyl-7 .s4 {
  transform: rotateY(202.5deg) translate3D(-50%, 0, 1.475em);
}
.tree-cyl-7 .s5 {
  transform: rotateY(247.5deg) translate3D(-50%, 0, 1.475em);
}
.tree-cyl-7 .s6 {
  transform: rotateY(292.5deg) translate3D(-50%, 0, 1.475em);
}
.tree-cyl-7 .s7 {
  transform: rotateY(337.5deg) translate3D(-50%, 0, 1.475em);
}

/* .tree-cyl-8 styles */
.tree-cyl-8 {
  transform:translate3D(2em, -34em, 2em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:3em;
  height:4em;
  margin:-2em 0 0 -1.5em;
}
.tree-cyl-8 .tp, .tree-cyl-8 .bm {
  width:3em;
  height:3em;
}
.tree-cyl-8 .side {
  width:1.2676406871192851em;
  height:4em;
}
.tree-cyl-8 .s0 {
  transform: rotateY(22.5deg) translate3D(-50%, 0, 1.475em);
}
.tree-cyl-8 .s1 {
  transform: rotateY(67.5deg) translate3D(-50%, 0, 1.475em);
}
.tree-cyl-8 .s2 {
  transform: rotateY(112.5deg) translate3D(-50%, 0, 1.475em);
}
.tree-cyl-8 .s3 {
  transform: rotateY(157.5deg) translate3D(-50%, 0, 1.475em);
}
.tree-cyl-8 .s4 {
  transform: rotateY(202.5deg) translate3D(-50%, 0, 1.475em);
}
.tree-cyl-8 .s5 {
  transform: rotateY(247.5deg) translate3D(-50%, 0, 1.475em);
}
.tree-cyl-8 .s6 {
  transform: rotateY(292.5deg) translate3D(-50%, 0, 1.475em);
}
.tree-cyl-8 .s7 {
  transform: rotateY(337.5deg) translate3D(-50%, 0, 1.475em);
}

/* .tree-pri-1 styles */
.tree-pri-1 {
  transform:translate3D(12em, -34em, 0em) rotateX(80deg) rotateY(35deg) rotateZ(90deg);
  opacity:1;
  width:4em;
  height:18em;
  margin:-9em 0 0 -2em;
}
.tree-pri-1 .rt .face {
  transform:rotateZ(-3.1798301198641643deg);
}
.tree-pri-1 .lt .face {
  transform:rotateZ(3.1798301198641643deg);
}
.tree-pri-1 .ft {
  height:18.027756377319946em;
  transform:translateZ(-0.5em) rotateX(3.1798301198641643deg);
}
.tree-pri-1 .bk {
  transform:translateZ(-0.5em) rotateY(180deg);
}
.tree-pri-1 .rt, .tree-pri-1 .lt {
  width:1em;
  height:18em;
}
.tree-pri-1 .rt .face, .tree-pri-1 .lt .face {
  height:18.027756377319946em;
}
.tree-pri-1 .bm {
  width:4em;
  height:1em;
}

/* .tree-pri-2 styles */
.tree-pri-2 {
  transform:translate3D(8em, -32em, 8em) rotateX(55deg) rotateY(40deg) rotateZ(135deg);
  opacity:1;
  width:4em;
  height:18em;
  margin:-9em 0 0 -2em;
}
.tree-pri-2 .rt .face {
  transform:rotateZ(-3.1798301198641643deg);
}
.tree-pri-2 .lt .face {
  transform:rotateZ(3.1798301198641643deg);
}
.tree-pri-2 .ft {
  height:18.027756377319946em;
  transform:translateZ(-0.5em) rotateX(3.1798301198641643deg);
}
.tree-pri-2 .bk {
  transform:translateZ(-0.5em) rotateY(180deg);
}
.tree-pri-2 .rt, .tree-pri-2 .lt {
  width:1em;
  height:18em;
}
.tree-pri-2 .rt .face, .tree-pri-2 .lt .face {
  height:18.027756377319946em;
}
.tree-pri-2 .bm {
  width:4em;
  height:1em;
}

/* .tree-pri-3 styles */
.tree-pri-3 {
  transform:translate3D(-2em, -32em, 12em) rotateX(-130deg) rotateY(25deg) rotateZ(-10deg);
  opacity:1;
  width:4em;
  height:18em;
  margin:-9em 0 0 -2em;
}
.tree-pri-3 .rt .face {
  transform:rotateZ(-3.1798301198641643deg);
}
.tree-pri-3 .lt .face {
  transform:rotateZ(3.1798301198641643deg);
}
.tree-pri-3 .ft {
  height:18.027756377319946em;
  transform:translateZ(-0.5em) rotateX(3.1798301198641643deg);
}
.tree-pri-3 .bk {
  transform:translateZ(-0.5em) rotateY(180deg);
}
.tree-pri-3 .rt, .tree-pri-3 .lt {
  width:1em;
  height:18em;
}
.tree-pri-3 .rt .face, .tree-pri-3 .lt .face {
  height:18.027756377319946em;
}
.tree-pri-3 .bm {
  width:4em;
  height:1em;
}

/* .tree-pri-4 styles */
.tree-pri-4 {
  transform:translate3D(-10em, -28em, 4em) rotateX(-105deg) rotateY(50deg) rotateZ(-60deg);
  opacity:1;
  width:4em;
  height:19em;
  margin:-9.5em 0 0 -2em;
}
.tree-pri-4 .rt .face {
  transform:rotateZ(-3.012787504183286deg);
}
.tree-pri-4 .lt .face {
  transform:rotateZ(3.012787504183286deg);
}
.tree-pri-4 .ft {
  height:19.026297590440446em;
  transform:translateZ(-0.5em) rotateX(3.012787504183286deg);
}
.tree-pri-4 .bk {
  transform:translateZ(-0.5em) rotateY(180deg);
}
.tree-pri-4 .rt, .tree-pri-4 .lt {
  width:1em;
  height:19em;
}
.tree-pri-4 .rt .face, .tree-pri-4 .lt .face {
  height:19.026297590440446em;
}
.tree-pri-4 .bm {
  width:4em;
  height:1em;
}






